


.media {
    border: solid 1px #cccccc;
    border-radius: 10px;
    max-width: 600px;
    padding:20px;
    margin: 0 auto;
}

.image.is-24x24 {
    display:inline;
    position:relative;
    radius: 50%;
    top: 8px;
    border-radius:50%;
}